
body {
	background-color:	#004422;
	color: 				#ffffff;
  	font-size:          12pt;
  	font-family:        century gothic, verdana, tahoma, arial, sans-serif;
}

#allcontent {
	margin:		0 auto;
	text-align: left;
	width: 		650px;
}

p {
	padding: 5px;
}

table {
	border-collapse:collapse;
	border-top:		2px solid yellow;
	margin:			20px;
	width:			550px;
	font-size:		12px;
}

th {
	border-bottom: 	2px solid yellow;
	text-align: 	left;
	padding: 		4px 7px;
	color: 			#E05500;
	font-size: 		14px;
	font-weight: 	normal;
}

td {
	padding: 		5px;
}
